/* Put your CSS here*/
.ember-application {
    margin: 20px;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #3E3530;
}
h1 {
	font-size: 1em;
}
h2 {
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 5px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
h3 {
	display: block;
	font-size: 3em;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	color: #d14242;
}
body li {
	list-style: none;
}
.section-title {
	font-size: 3em;
	color: #428bca;
	font-size: 1.8em;
	margin: 0 0 .5em 0;
	font-weight: bold;
}
input[type='radio'] {
	border-radius: 100%;
	color: transparent;
	content: "\25cf";
	font-family: sans-serif;
	font-size: 21px;
	height: 22px;
	line-height: .96em;
	width: 22px;
	vertical-align: middle;	
}
